.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}
.style0 {
  background-image: url(https://designresources.assets.yotako.io/40599uejimrg8gl.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  margin-top: 3px;
  width: 1200px;
  height: 704px;
  flex-direction: column
}
.NewMockup1image0unsupported0 {
  margin-top: 0;
  width: 100%;
  height: 15px;
  align-self: stretch
}
.NewMockup1image0unsupported4 {
  position: relative;
  display: flex;
  margin-left: 659px;
  margin-top: 0;
  width: 72px;
  height: 72px;
  align-items: center;
  flex-direction: column
}
.style1,
.style16 {
  font-family: BalsamiqSans,serif;
  font-size: 3.375em;
  height: 72px
}
.style1 {
  text-align: center;
  font-size: 2.75em;
  margin-top: 15px;
  height: 56px;
  align-self: center
}
.NewMockup1image0row3,
.style10 {
  display: flex;
  align-items: stretch
}
.NewMockup1image0row3 {
  margin-top: 24px;
  height: 56px;
  margin-left: 468px;
  width: 280px
}
.style10 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 2.555289704227111e+55px 2.555289704227111e+55px 0 0 #000;
  margin-left: 0;
  width: 75px;
  flex-direction: column;
  justify-content: center
}
.style11 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  height: 20px
}
.style12 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 2.555289704227111e+55px 2.555289704227111e+55px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 93px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style13 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  height: 20px
}
.style14 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 2.555289704227111e+55px 2.555289704227111e+55px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 111px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style15 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  height: 20px
}
.NewMockup1image0unsupported5 {
  margin-left: 468px;
  margin-top: 0;
  width: 280px;
  height: 21px
}
.NewMockup1image0row5 {
  display: flex;
  margin-top: 108px;
  width: 1038px;
  height: 281px
}
.NewMockup1image0row5unsupported6 {
  position: relative;
  display: flex;
  margin-left: 0;
  width: 179px;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style18 {
  margin-top: 65px;
  width: 152px;
  height: 101px;
  align-self: center;
  flex-shrink: 0
}
.NewMockup1image0row5unsupported6unsupported7 {
  position: relative;
  margin-left: 174px;
  margin-top: 27px;
  width: 21px;
  height: 89px;
  flex-shrink: 0
}
.NewMockup1image0row5unsupported8 {
  margin-left: 93px;
  margin-top: 24px;
  width: 36px;
  height: 36px
}
.NewMockup1image0row5column2 {
  display: flex;
  margin-left: 346px;
  margin-top: 27px;
  width: 116px;
  height: 84px;
  flex-direction: column
}
.style4,
.style5 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  font-weight: 700;
  height: 35px
}
.style4 {
  align-self: stretch;
  margin-top: 0
}
.style5 {
  margin-left: 62px;
  margin-top: 15px
}
.NewMockup1image0row5column3 {
  display: flex;
  margin-left: 474px;
  width: 250px;
  height: 226px;
  align-self: center;
  flex-direction: column
}
.style2 {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-indent: 15px;
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 41px;
  align-self: stretch;
  flex-direction: column;
  justify-content: center
}
.class-40599uejimrg8rm,
.class-40599uejimrg8rm::placeholder {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  text-indent: 15px
}
.NewMockup1image0row5column3textfield0unsupported1 {
  margin-left: 12px;
  width: 24px;
  height: 24px
}
.NewMockup1image0row5column3unsupported2 {
  margin-top: 9px;
  width: 100%;
  height: 41px;
  align-self: stretch
}
.style8 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 2.555289704227111e+55px 2.555289704227111e+55px 0 0 #000;
  display: flex;
  margin-top: 14px;
  width: 98px;
  height: 41px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style19,
.style9 {
  font-family: BalsamiqSans,serif
}
.style9 {
  text-align: center;
  font-size: 1.1875em;
  height: 20px
}
.style19 {
  font-size: 3.375em;
  margin-left: 111px;
  margin-top: 0;
  height: 81px
}
.NewMockup1image0row5column4 {
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 81px;
  width: 301px;
  height: 87px;
  flex-direction: column
}
.style6,
.style7 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  flex-shrink: 0
}
.style6 {
  position: relative;
  margin-left: 39px;
  margin-top: 0;
  height: 24px
}
.style7 {
  margin-top: 32px;
  height: 32px
}
.NewMockup1image0progressbar0 {
  position: relative;
  margin-left: 481px;
  margin-top: 472px;
  width: 284px;
  height: 17px
}
.NewMockup1image0unsupported3 {
  margin-left: 887px;
  margin-top: 149px;
  width: 301px;
  height: 32px
}